<h1>Thoughts</h1>
<div class="row">
    {{#each thoughts}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5 class="truncate" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{title}}</h5>
                {{!-- <p>{{stripTags (truncate body 50)}}</p> --}}
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/thoughts/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/thoughts/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No thoughts to display</p>
    {{/each}}
</div>
